:root {
  --font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;

  --color-grey-darkest: #404040;
  --color-grey-darker: #838383;
  --color-grey-dark: #acacac;
  --color-grey: #e6e6e6;
  --color-grey-light: #e9ebed;
  --color-grey-lighter: #f0f1f3;
  --color-grey-lightest: #f7f8f9;

  --color-blue: #0065aa;
  --color-dark-blue: #0f4367;
  --color-light-blue: #4a90e2;
  --color-superlight-blue: #f2f7fb;

  --color-bright-blue: #0c5be8;
  --color-primary-blue: #0019ff;

  --color-primary: var(--color-blue);
  --color-disabled: #46474d;
  --color-success: #7ed321;
  --color-info: #0065aa;
  --color-warning: #f78e1f;
  --color-danger: #d0021b;

  --padding-small: rem(5px);
  --padding-base: rem(11px);
  --padding-medium: rem(15px);
  --padding-large: rem(22px);

  --border-radius-base: 5px;
  --border-radius-small: 3px;

  @custom-media --breakpoint-small (max-width: 40em);
  @custom-media --breakpoint-medium (min-width: 40em);
  @custom-media --breakpoint-large (min-width: 64em);
}
